.head{
    background-color: rgb(60, 90, 173);
}
.td{
    background-color: rgb(25, 88, 204);

}
th{
    color: white;
    font-size: 20px;
     
}
th .fa{
    margin-right: 8px;
}
.img1{
    height: 55px;
    width: 100px;
}
.btn1{
    background-color: aliceblue;
    color: rgb(168, 161, 161);
    border-inline-end-style: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
}
.btn1 .fa{
    color: #1111cf;
    margin-left: 14px;
}
.menu-bar li{
    width: 16.6%;
    height: 10px;
}

    
    

.menu-bar ul li{
    font-size :18px; 
    float: left;
    width: 100px;
    margin: 15px;
    padding: 15px;
    list-style: none;
    color: black;
    opacity: 0.8;
    
}
.menu-bar ul li a{
    text-decoration: none;
    color: black;
}
.menu-bar .fa{
    margin-left: 8px;
}
.sub-menu1{
    display: none;
}
.menu-bar ul li:hover.sub-menu1{
    display: block;
    position: absolute;
    margin-top:15px;
    margin-left:15px;
    background-color: blue;  
}


